ion-slides{
  height: 100%;
  background-color: white;
  max-width: 800px;
}
.swiper-slide {
  display: block;
  margin-bottom: 60px;
  background-color: rgba(236, 117, 5, 0.835);
}
.center-text{
  text-align: center;
  width: 33.33%;
  height: 33.33%;
}
ion-slide > h1, h2{
  margin: 40px 40px 40px 40px;
  color: black;
  border-color: var(--ion-color-danger); //variable ya existente
  border-style: dashed;
}
ion-slide > p{
  font-style: italic;
  font-size: 22px;
  color: white;
}

ion-slide > h3{
  font-style:italic;
  font-size: 22px;
  color: var(--slide-letter-appname); //variable creada
}
div{
  text-align: center;
  color: white;
  

}