<ion-content>
  <ion-slides pager ="true" [options]= "slideOpt">

    <ion-slide>
      <h1>Bienvenidos</h1>
      <p>Vive esta gran experiencia y comienza a disfrutar de</p>
      <img src="assets/Images/Icono.png"/>
      <h3>KUMSIK</h3>
    </ion-slide>

    <ion-slide>
      <h1>LA MEJOR APP DE MUSICA</h1>
      <p>Podras disfrutar de tus canciones y artistas favoritos</p>
      <img src="assets/Images/Slade 2.png"/>
      <ion-icon name="musical-notes-outline"></ion-icon>
      <p>Desde la palma de tu mano</p>
    </ion-slide>

    <ion-slide>
      <h1>Disfruta</h1>
      <p>Podras disfrutar solo <ion-icon name="musical-note-outline"></ion-icon>  </p> 
      <img height="50" src="assets/Images/Escuchando solo.jpg"/>
      <p>O conectado a tus amigos <ion-icon name="radio-outline"></ion-icon></p>
      <img src="assets/Images/Escuchando acompañado.jpg"/>
    </ion-slide>
    
    <ion-slide>
      <p> Solo Queda empezar a disfrutar de lo que mas te gusta y disfutar de la experienia que te brinda KMUSIK en calidad y servicio de streamin musical</p>
    
    </ion-slide>

  </ion-slides>
</ion-content>